<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@(this.ViewData["Title"])</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css">
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

<header>
    <h5 class="masthead-brand"><span id="GameEvent">@(this.ViewData["Title"])</span> / Round <span id="GameRound"></span> / Date: <span id="GameDate"></span></h5>
    <nav class="nav nav-masthead">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="http://tcec.chessdom.com/live.php" target="_blank">TCEC Live</a>
        <a class="nav-link" href="http://tcec.chessdom.com/archive.php" target="_blank">TCEC Archive</a>
    </nav>
    <div class="clearfix"></div>
</header>

<main role="main">
    @(this.RenderBody())
</main>

<footer>
    <p>&copy; 2018 - TcecEvaluationBot.Web</p>
</footer>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="~/js/pgn4web.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/js/pgn4web.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@(this.RenderSection("Scripts", required: false))
</body>
</html>
